<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>{% block seo_title %}Education 360{% endblock %}</title>
    <meta name="description" content="{% block seo_description %}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block meta_og %}
        <meta property="og:title" content=""/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="">
        <meta property="og:image" content=""/>
        <meta property="og:description" content=""/>
        <meta property="og:site_name" content=""/>
    {% endblock %}


    {% block stylesheets %}
        <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-grid.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    {% endblock %}




</head>
<body>
{% block header %}{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% endblock footer %}

{% block javascripts %}
    <script src="/js/bootstrap.min.js'"></script>
{% endblock %}

</body>
</html>