{% extends 'base.html.twig' %}

{% block header %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Education 360</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Soutien Scolaire
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Cours particulier à domicile</a>
                        <a class="dropdown-item" href="#">Cours en petit groupe de 3 à 5 élèves au centre</a>
                        <a class="dropdown-item" href="#">Cours particulier en ligne</a>
                        <a class="dropdown-item" href="#">Coaching scolaire au quotidien</a>
                        <a class="dropdown-item" href="#">Organisation, gestion et méthodologie</a>
                        <a class="dropdown-item" href="#">Sorties d'école et aides aux devoirs</a>
                        <a class="dropdown-item" href="#">Stage intensif durant les vacances scolaires</a>
                        <a class="dropdown-item" href="#">Cours de programmation</a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
{% endblock %}

{% block footer %}

    <!-- footer -->
    <footer class=".bg-info">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-8">

                            <p><strong>Education 360</strong> .</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">

                    <div class="row justify-content-end">
                        <div class="col-lg-10">
                            <h4>Newsletter</h4>

                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-md-10">
                            <h4 class="mb-2">PAGES</h4>

                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-lg-10">
                            <h4 class="mb-2">Suivez moi</h4>

                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-lg-10">
                            <h4 class="mb-2">Goodies</h4>



                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
{% endblock %}